
.card{
  background-color: brown;
  max-width: 150px;
  border-style: solid ;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.card-header{
display: flex;
align-items: center;
justify-content: space-between;
}

.main{
  display: flex;
  flex-wrap: wrap;
}